* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f9f9f9;
    color: #333;
}

nav {
    background-color: #333;
    padding: 1rem;
    text-align: center;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

header {
    background: url('figures/title_figure.jpg') no-repeat center center/cover;
    background-position: center center;
    background-size: contain;
    color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: center;
    z-index: 1;
}

header h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

header p {
    font-size: 1.5rem;
}

.cta-button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 20px;
    font-size: 1.2rem;
}

.cta-button:hover {
    background-color: #0056b3;
}

/* Social link section */
.social-links {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.social-links a {
    margin: 0 15px;
}

.link-item {
    display: flex;
    align-items: center;
    margin: 0 15px;
    text-decoration: none;
    color: white;
    font-size: 18px; /* Adjust text size */
}

.social-links .icon {
    width: 30px;  /* Adjust the size of icons */
    height: 30px;
    object-fit: contain;
}

section {
    padding: 50px;
    text-align: center;
}

section h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

section p, ul {
    font-size: 1.2rem;
    margin: 10px 0;
}

footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

footer a {
    color: #007bff;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
